In [46]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [47]:
data = pd.read_csv( 'hw_25000.csv', names = ['index', 'height_inches', 'weight_pounds'], header = 1, sep=';' )
data.head()

   index  height_inches  weight_pounds
0      1       65.78331       112.9925
1      2       71.51521       136.4873
2      3       69.39874       153.0269
3      4       68.21660       142.3354
4      5       67.78781       144.2971

In [48]:
data['height_sm'] = data['height_inches'] * 2.54
data.head()

   index  height_inches  weight_pounds   height_sm
0      1       65.78331       112.9925  167.089607
1      2       71.51521       136.4873  181.648633
2      3       69.39874       153.0269  176.272800
3      4       68.21660       142.3354  173.270164
4      5       67.78781       144.2971  172.181037

In [55]:
data_sample = data[(data['height_sm'] >= 170) & (data['height_sm'] <= 180)]
data_sample_20 = data_sample[:20]
data_sample_20.shape

(20, 4)

In [50]:
data_sample_20.head(10)

    index  height_inches  weight_pounds   height_sm
2       3       69.39874       153.0269  176.272800
3       4       68.21660       142.3354  173.270164
4       5       67.78781       144.2971  172.181037
5       6       68.69784       123.3024  174.492514
6       7       69.80204       141.4947  177.297182
7       8       70.01472       136.4623  177.837389
8       9       67.90265       112.3723  172.472731
11     12       67.62333       114.1430  171.763258
12     13       68.30248       125.6107  173.488299
13     14       67.11656       122.4618  170.476062

In [51]:
mean_20 = data_sample_20['weight_pounds'].mean()
mean_20

132.92411

In [57]:
mean_weight_all = data['weight_pounds'].mean()
mean_all

127.07942116079916

In [58]:
stats.ttest_1samp( data_sample_20['weight_pounds'], mean_weight_all)

Ttest_1sampResult(statistic=2.2438433326713279, pvalue=0.036952752151255777)

In [54]:
## pvalue < 0.05 => разница среднего веса людей в исходном файле и среднего веса людей во всем наборе данных №2 статистически значима