In [1]:
import pandas as pd

In [2]:
df_news = pd.read_csv('texts.csv')
df_news.head(3)

         date                                               text
0  09.11.2017  Компания рассчитывает на решение по газовому с...
1  08.11.2017   Как и предполагал “Ъ”, «Газпром», воспользова...
2  01.11.2017   Новая редакция американских санкций ставит по...

In [3]:
df_prices = pd.read_csv('gazprom_prices.csv', sep=';')
df_prices.head(3)

         Date       Open ClosingPrice  DailyHigh   DailyLow  VolumePcs
0  08.12.2017  133,43000    132,60000  133,90000  132,00000   16037970
1  07.12.2017  133,70000    133,02000  133,87000  132,81000   18198430
2  06.12.2017  133,33000    134,00000  134,29000  132,91000   14641730

In [4]:
df_news['date'] = pd.to_datetime(df_news['date'])
df_prices['Date'] = pd.to_datetime(df_prices['Date'])

In [5]:
df_prices.head(3)

        Date       Open ClosingPrice  DailyHigh   DailyLow  VolumePcs
0 2017-08-12  133,43000    132,60000  133,90000  132,00000   16037970
1 2017-07-12  133,70000    133,02000  133,87000  132,81000   18198430
2 2017-06-12  133,33000    134,00000  134,29000  132,91000   14641730